
@* Code Blocks *@
@{
    var title = "This is title of page";
    var message = "Hello World, This is Sparta";

    Person p = new Person() { Name = "Darshan Khairnar", RollNumber = 101, Marks = 87.34 };
}
    <h1>@message</h1>

    <div>
        <h2> Person Details </h2>
        <p>Name : @p.Name</p>
        <p>Roll Number : @p.RollNumber</p>
        <p>Marks : @p.Marks</p>
    </div>
    
    @{
        @:This is normal single line text inside code block
        <text> This is Multiline
        Text form code block</text>
    }

    @*
        We have for loop, foreach, switch case , if else in this
    *@
