<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp46310114.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5b647109-d546-4aa5-aeb5-c95d37cabccf/resourceGroups/rg-sprint/providers/Microsoft.Web/sites/FunctionApp46310114</ResourceId>
    <UserName>$FunctionApp46310114</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp46310114.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>